@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600&family=Stint+Ultra+Condensed&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;

  background-color: #fff;

  font-size: 18px;
  color: gray;
  font-family: 'Stint Ultra Condensed', cursive;
}

.container {
  margin: auto;
  max-width: 1200px;
}

/*Navigation 
============================*/

.header {
  border-bottom: 1px solid rgb(4, 13, 31, 0.1);

  position: sticky;
  top: 0;

  background-color: gray;
  opacity: 0.8;
  overflow: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1vw 3vw;
}

.navigation a {
  text-decoration: none;
  text-transform: uppercase;

  color: white;

  font-family: 'Baloo Tammudu 2', cursive;

  padding: 2px 15px;
  border-radius: 6px;
  transition: 0.3s;
}

.nav-proposal {
  background-color: black;
}

.nnav-proposal:hover {
  background-color: white;
  color: black;
  opacity: 0.5;
}

.navigation a:hover {
  background-color: #fff;
  color: black;
  opacity: 0.3;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.2s;
  display: none;
}
.menu-btn__burger {
  width: 45px;
  height: 5px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.2s;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 5px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.2s;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}

/* About 
======================== */

#about {
  display: flex;
  justify-content: center;

  padding-top: 5.5vw;
}

#about h1 {
  font-size: 45px;
}

#about img {
  border-radius: 30%;
}

#about section {
  padding-left: 5vw;
}

/* Skills ====================*/

#skills {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Projects ====================*/

#projects {
  padding-top: 2vw;
  background-color: rgba(205, 196, 255, 0.2);
}

.projects-header {
  text-align: center;
}

.projects-header h1 {
  padding-top: 3rem;
}

#projects-works {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.projects-img article {
  text-align: center;
}

.projects-img img {
  margin: 0 2rem;
  transition: 1s;
}

.projects-img img:hover {
  transform: scale(1.5);
}

/* Study */

#study {
  padding-top: 3.5vw;
  text-align: center;
}

/* Work*/

#work {
  padding-top: 3.5vw;
  text-align: center;
  padding-bottom: 35px;
}

/* Contacts */

#contacts {
  display: flex;
  justify-content: center;
  text-align: center;

  background-color: rgba(205, 196, 255, 0.2);
  color: black;
}

#contacts a {
  color: black;
  padding: 0 15px;
}

#contacts a:hover {
  color: rgb(104, 99, 99);
}

footer {
  display: flex;
  justify-content: center;

  color: white;
  background-color: gray;
}

/* Media ******************************************************** */

/* About =================================================*/

@media screen and (max-width: 974px) {
  #about {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #about img {
    align-self: center;
  }
}

@media screen and (max-width: 798px) {
  .nav-display {
    display: none;
  }

  .menu-btn {
    display: inherit;
  }
}