@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600&family=Stint+Ultra+Condensed&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;

  background-color: rgb(255, 255, 255);

  font-size: 18px;
  color: gray;
  font-family: 'Stint Ultra Condensed', cursive;
}

section {
  padding-top: 5%;
  text-align: center;
}

.button {
  cursor: pointer;
  margin-top: 25px;
  padding: 5px 20px;
  background-color: gray;
  color: white;
  font-family: serif;
  font-size: 18px;
  border-radius: 5px;
}

.container {
  margin: auto;
  max-width: 1200px;
}

/*Navigation 
============================*/

.header {
  border-bottom: 1px solid rgb(4, 13, 31, 0.1);

  position: sticky;
  top: 0;

  background-color: gray;
  opacity: 0.8;
  overflow: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1vw 3vw;
}

.navigation a {
  text-decoration: none;
  text-transform: uppercase;

  color: white;
  background-color: rgb(167, 167, 167);

  font-family: 'Baloo Tammudu 2', cursive;

  padding: 2px 15px;
  border-radius: 6px;
  transition: 0.3s;
}

.navigation a:hover {
  background-color: #fff;
  color: black;
  opacity: 0.3;
}
